html, body { height: 100vh; width: 100vw; }

body {
	display: flex;
	overflow: hidden;
	margin: 0;
	padding: 0;
	
	& > aside {
		flex: 0 0 (17 * $baseline);
		height: 100%;
		position: relative;
		z-index: 8;
		
		&.collapsed {
			flex: 0 0 (3.5 * $baseline);
		}
	}
}

main {
	flex: 1 1 auto;
	height: 100%;
}