// scheme
$curiousblue: rgb(62,130,193);
$prussianblue: rgb(0,72,118);
$darktangerine: rgb(255, 184, 25);
$elephant: rgb(31, 45, 53);
$bluewhale: rgb(18, 38, 48);

// grayscale
$black: rgb(0, 0, 0);
$charcoal: rgb(68, 68, 68);
$dimgrey: rgb(103, 103, 103);
$suvagrey: rgb(136, 136, 136);
$alto: rgb(207, 207, 207);
$smog: rgb(235, 235, 235);
$whitesmoke: rgb(246, 246, 246);
$white: rgb(255, 255, 255);

// context
$danger: rgb(171, 8, 0);
$warning: rgb(255, 87, 34);
$success: rgb(27, 94, 32);
$info: rgb(44, 110, 177);
$disabled: $alto;

// fonts
$font-heading: 'Merriweather', Georgia, serif;
$font-copy: 'proxima-nova', Tahoma, sans-serif;
$font-ui: 'Oswald', Arial, sans-serif;
